# =========================
# Python
# =========================
__pycache__/
.pytest_cache/
*.pyc

# =========================
# Virtual env
# =========================
venv/

# =========================
# Generated outputs
# =========================
output/

# =========================
# Trained models
# =========================
output/models/

# =========================
# Runtime configs
# =========================
output/runtime_configs/

# =========================
# Generated logs
# =========================
logs/
*.log

# =========================
# Generated datasets
# =========================
*.csv

# =========================
# Generated artifacts
# =========================
*.zip
*.png

# =========================
# Serialized models
# =========================
*.pkl
*.joblib
*.pickle

# =========================
# IDE
# =========================
.vscode/